.container {
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
 
}

.heading {
  font-size: 28px;
  font-weight: 800;
  color: darkblue;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
  padding-bottom: 6px;
}




.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  
}

.table th {
  background-color: darkblue;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 15px;
}

.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e2e8f0;
  color: #333;
  background-color: #f8f9ff;
}




.deleteBtn {
  background-color: #7f1d1d;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
 
}


