
.logoSection {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.logoImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logoText {
  font-size: 22px;
  font-weight: bold;
  color: white; 
}

.dashboard {
  background-color: white;
  color: #1e3a8a; 
  font-family: Arial, sans-serif;
  min-height: 100vh;
}


.navbar {
  background-color: darkblue;
  padding: 15px 30px;
}

.logo {
  color: white;
  font-weight: bold;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}




.welcome {
  color: darkblue;
  font-weight: bold;
}

.subtitle {
  color: #555;
}

 
.statBox {
  background-color: #f5f7ff;
  border-radius: 10px;
  padding: 25px;
  transition: transform 0.2s ease;
}



.statBox h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

 
.cardBox {
  background-color: #f5f7ff;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  
}



.iconBlue {
  color: #1e3a8a;
  margin-bottom: 15px;
}

.iconGreen {
  color: #15803d;
  margin-bottom: 15px;
}

.blueBtn {
  background-color:darkblue;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
}

.greenBtn {
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
}


