.containerMargin {
  margin-top: 2rem;
}

.headingTop {
  color: darkblue;
  font-weight: 700;
  font-size: 4rem;
  margin: 2rem 0 0 0;
}

.headingBottom {
  color: darkblue;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

.description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 0.5rem 0 0 0;
}

.buttonContainer {
  margin-top: 2rem;
}

.startButton {
  background-color: darkblue;
  color: white;
  font-weight: 600;
  padding: 10px 35px;
  border-radius:8px;
}
