.faqPage {
  background-color: darkblue;
  color: white; 
  min-height: 100vh;
  padding: 50px 20px;
  text-align: center;
}

.heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}
.backtohome{
  color:white;
  font-size:16px;
  margin-bottom: 30px;
  display:inline-block;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.faqCard {
  background-color: #f5f7ff;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
  padding: 15px 25px;
  text-align: left;
  
}



.question {
  font-size: 18px;
  font-weight: 600;
  color: #001f4d;
}

.answer {
  font-size: 15px;
  color: #333;
  margin-top: 8px;
  line-height: 1.6;
}
