.footerContainer {
  background-color: darkblue;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brandContainer {
  text-align: center;
}

.logoRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  border-radius: 50%;
  margin-right: 10px;
}

.logoText {
  font-size: 22px;
  font-weight: bold;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
