.mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: darkblue;
}

.formRow {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.formImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: darkblue;
  font-weight: bold;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.actionBtn {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 6px;
}
