.reviewsContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.heading {
  font-weight: bold;
  margin-bottom: 10px;
  color: darkblue;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 30px auto;
  color: black;
}

.card {
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  padding: 15px;
  min-height: 120px;     
  display: flex;
  flex-direction: column;
  justify-content: center;
}
